<div class="card">
  <div class="card-header">
    {{ rname }}
  </div>
  <div class="card-body">
    <div *ngFor="let menuItem of filteredMenuItems" class="menu-item">
      <img [src]="getRestaurantImage(menuItem.image)" alt="MenuItem Image" class="menu-item-image" />
      <div class="menu-item-details">
        <h5 class="menu-item-name">{{ menuItem.name }}</h5>
        <p class="menu-item-description">{{ menuItem.description }}</p>
        <p class="menu-item-price">Price: {{ menuItem.price }}</p>
        <select [(ngModel)]="menuItem.quantity" class="menu-item-quantity">
          <option *ngFor="let option of quantityOptions" [value]="option">{{ option }}</option>
        </select>
        <button (click)="addToOrder(menuItem)" class="btn btn-primary">Add to Order</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="orderItems.length > 0" class="card mt-3">
  <div class="card-header">
    Order Summary
  </div>
  <div class="card-body">
    <div *ngFor="let orderItem of orderItems" class="order-item">
      <p>{{ orderItem.name }} - Quantity: {{ orderItem.quantity }} - Price: {{ orderItem.price }} - Total: {{ orderItem.quantity * orderItem.price }}</p>
    </div>
    <p>Total Order Price: {{ calculateTotalOrderPrice() }}</p>
    <button (click)="submitOrder()" class="btn btn-success">Submit Order</button>
  </div>
</div>
